{
    "presets": [
        [
            "env",
            {
                "target": {
                    "browsers": [
                        "ie >= 9"
                    ]
                },
                "modules": false
            }
        ],
        "stage-0",
        "react"
    ]
}